<div class="notifications-container">
  @for (notification of notifications; track notification.id) {
    <div 
      class="notification" 
      [ngClass]="notification.type"
      [@notificationAnimation]>
      <div class="notification-content">
        <div class="notification-icon">
          @switch (notification.type) {
            @case ('success') {
              <i class="fas fa-check-circle"></i>
            }
            @case ('error') {
              <i class="fas fa-exclamation-circle"></i>
            }
            @case ('warning') {
              <i class="fas fa-exclamation-triangle"></i>
            }
            @case ('info') {
              <i class="fas fa-info-circle"></i>
            }
          }
        </div>
        <div class="notification-message">{{ notification.message }}</div>
      </div>
      <button class="close-button" (click)="closeNotification(notification.id)">
        <i class="fas fa-times"></i>
      </button>
      <div class="notification-progress" *ngIf="notification.timeout">
        <div 
          class="notification-progress-bar" 
          [style.animation-duration.ms]="notification.timeout">
        </div>
      </div>
    </div>
  }
</div>